{% extends "instagram/layout.html" %}
{% load bootstrap5 %}

{% block title %}
    PostList
{% endblock title %}

{% block content %}

    <script>
    if(1>0){
        alert("hello");
    }

    </script>


<form action="" , method="get">
    <input type="text" , name="q"/>
    <input type="submit" value="search">
</form>
<table class="table table-bordered table-hover">
    <tr class="bold">
        <td>no</td>
        <td>Message</td>
        <td>Photo</td>
    </tr>
    {% for post in post_list %}

        <tr>
            <td> {{ post.pk }}</td>
            <td>

                {#                <a href="{% url "instagram:post_detail" post.pk %}">#}
                <a href="{{ post.get_absolute_url }}">
                    {{ post.message }}
                </a>
            </td>
            <td>
                {% if post.photo %}
                    <img src="{{ post.photo.url }}" style="width: 100px;height: 100px" )/>
                {% else %}
                    No Photo
                {% endif %}
        </tr>
    {% endfor %}

</table>
{#{{ is_paginated }}#}
{#{{ page_obj }}#}
{% if is_paginated %}
    {% bootstrap_pagination page_obj size="None" justify_content="center" %}
{% endif %}
{% endblock content %}




